h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 700px;
  background-image: url(../images/header.png);
  background-size: cover;
  position: relative;
  background-position: center; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    justify-items: center;
    color: white;
    width: 100%; }
  .header__phone-small {
    margin: 35px auto;
    position: relative;
    display: none;
    width: 18px;
    height: 18px;
    background-image: url("../images/Vector.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 813px) {
      .header__phone-small {
        display: block; } }
  .header__logo {
    z-index: 2;
    margin: 25px auto; }
  .header__phone {
    margin: 53px auto;
    text-align: center;
    letter-spacing: 2px;
    white-space: nowrap;
    font-family: roboto; }
    @media screen and (max-width: 813px) {
      .header__phone {
        display: none;
        padding: 0; } }
  .header__action {
    margin: 55px 0;
    white-space: nowrap;
    position: relative;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center; }
    @media screen and (max-width: 813px) {
      .header__action {
        display: none;
        padding: 0; } }
  .header__link {
    position: relative;
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    outline: none; }
    .header__link:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      opacity: 0;
      background-color: #9fadc2;
      top: 20px;
      left: 0;
      border-radius: 2px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .header__link:hover {
      color: #9fadc2; }
      .header__link:hover::before {
        opacity: 1; }
    .header__link:focus::before {
      opacity: 1;
      background-color: white; }
    @media screen and (max-width: 813px) {
      .header__link {
        display: none;
        padding: 0; } }
  .header__article {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    top: 400px;
    left: 120px;
    margin: auto;
    color: white; }
    .header__article:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 35px;
      background-color: white;
      top: -16px;
      left: 0;
      border-radius: 2px; }
    @media screen and (max-width: 784px) {
      .header__article {
        font-size: 46px;
        line-height: 40px;
        left: 20px;
        top: 400px; } }

.nav {
  color: white;
  text-transform: uppercase;
  white-space: nowrap; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none; }
    @media screen and (max-width: 813px) {
      .nav__list {
        display: none; } }
  .nav__item {
    padding: 8px 24px; }
    @media screen and (max-width: 813px) {
      .nav__item {
        margin: 5px; } }
    .nav__item-active {
      background-color: rgba(159, 173, 194, 0.1);
      border-radius: 8px; }
      @media screen and (max-width: 813px) {
        .nav__item-active {
          opacity: 0; } }
  .nav__link {
    position: relative;
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    outline: none; }
    .nav__link:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      opacity: 0;
      background-color: #9fadc2;
      top: 27px;
      left: 0;
      border-radius: 2px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .nav__link:hover {
      color: #9fadc2; }
      .nav__link:hover::before {
        opacity: 1; }
    .nav__link:focus::before {
      opacity: 1;
      background-color: white; }
    @media screen and (max-width: 813px) {
      .nav__link {
        font-weight: bold;
        font-size: 22px;
        line-height: 22px; } }
  .nav__hidden-phone {
    display: none;
    margin: 25px 0 0; }
    @media screen and (max-width: 813px) {
      .nav__hidden-phone {
        display: block; } }
  .nav__hidden-call {
    display: none;
    margin-top: 0; }
    @media screen and (max-width: 813px) {
      .nav__hidden-call {
        display: block; } }
  .nav__link-phone {
    font-size: 12px;
    line-height: 16px; }
  .nav__link-call {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px; }
  .nav__toggler {
    display: none; }
  .nav__toggler:checked ~ .nav__list {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #0075ff;
    height: 700px;
    width: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all 1s linear;
    transition: all 1s linear; }
    @media screen and (min-width: 813px) {
      .nav__toggler:checked ~ .nav__list {
        display: none; } }
  .nav__toggler-label {
    display: none;
    position: absolute;
    z-index: 2;
    height: 16px;
    width: 16px;
    top: 85px;
    right: 55px;
    cursor: pointer;
    background-image: url(../images/X.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 813px) {
      .nav__toggler-label {
        display: block; } }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  line-height: 1.5; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: cover; }

@media screen and (max-width: 813px) {
  .logo {
    width: 73px;
    height: 48px; } }

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 359px;
  background-image: url("../images/footer.png");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px; }

.section {
  padding: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: white; }
  .section__heading {
    left: 0;
    right: 0;
    top: -0.5em;
    text-align: center; }
  .section__content {
    width: 100%; }

@media screen and (max-width: 813px) {
  .section {
    padding: 50px 40px; } }

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }
  .info__heading {
    max-width: 350px;
    font-weight: bold;
    font-size: 48px;
    margin: 0; }
  .info__link {
    font-family: roboto;
    font-weight: bold;
    color: #0075ff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .info__link:hover {
      color: rgba(0, 117, 255, 0.5); }
  .info__text {
    max-width: 500px; }
  .info__text-bold {
    font-weight: bold; }

@media screen and (max-width: 813px) {
  .info {
    grid-template-columns: 1fr;
    grid-gap: 48px; } }

.heading {
  position: absolute;
  font-weight: 600;
  font-size: 48px;
  line-height: 1; }
  .heading__crown {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 23px;
    height: 16px;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }

@media screen and (min-width: 813px) {
  .photos__right .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos__right .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos__left .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos__left .photos__img:last-child {
    width: calc(67% - 10px); } }

.gallery__caption {
  margin: 24px 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.gallery__btn {
  margin: 40px auto 0;
  width: 188px; }

.btn {
  display: block;
  font-size: 14px;
  color: #0075ff;
  background-color: white;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-property: background-color color box-shadow;
  transition-property: background-color color box-shadow; }
  .btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    background-color: #0075ff;
    color: white; }

.link {
  color: #0075ff;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .link:hover {
    color: rgba(0, 117, 255, 0.5); }

.consultation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }
  .consultation__text {
    max-width: 412px; }
  .consultation__form {
    display: grid;
    justify-items: end;
    max-width: 413px; }
  .consultation__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 16px 0 0; }

@media screen and (max-width: 813px) {
  .consultation {
    grid-template-columns: 1fr;
    grid-gap: 48px;
    justify-items: center; }
  __text {
    width: 100%; }
  __form {
    width: 280px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 16px; }
  .form__input, .form__btn {
    width: 412px; }
    @media screen and (max-width: 1024px) {
      .form__input, .form__btn {
        width: 280px; } }
  .form__btn {
    margin-top: 16px; }

.input {
  background: #f7f8ff;
  border: 1px solid #ffff;
  border-radius: 8px;
  height: 48px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-left: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input__texterea {
    height: 144px;
    padding-top: 14px;
    margin-bottom: 16px; }

.testimonials {
  display: grid;
  grid-gap: 160px;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 813px) {
  .testimonials {
    grid-template-columns: 240px;
    grid-gap: 48px; } }

.person {
  text-align: center; }
  .person__photo {
    width: 153px; }
  .person__name {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px; }
  .person__position {
    margin: 0;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2; }
  .person__text {
    color: #3e3e3e; }

.contact {
  display: grid;
  grid-template-columns: 1fr 11fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 100px; }
  .contact__heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin: 0; }
  .contact__text {
    color: #3e3e3e;
    line-height: 2em;
    margin-top: 8px; }

@media screen and (max-width: 813px) {
  .contact {
    grid-template-columns: 1fr;
    grid-gap: 14px;
    justify-items: center; } }

.menu {
  position: relative;
  margin: 30px auto; }
  .menu__toggler {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    display: none;
    cursor: pointer; }
    .menu__toggler::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("../images/menu.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .menu__toggler:hover {
      background-color: rgba(159, 173, 194, 0.1);
      border-radius: 8px; }
    @media screen and (max-width: 813px) {
      .menu__toggler {
        display: block; } }

/*# sourceMappingURL=main.css.map */
